In [1]:
import pandas as pd

df =pd.read_csv('./assignments/billboard.csv')
df

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = df.melt(id_vars=['year' ,'artist', 'track' ,'time' ,'date.entered'], var_name='week', value_name='rank')
df = df.dropna()
df

,year,artist,track,time,date.entered,week,rank
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
19716,2000,Creed,Higher,5:16,1999-09-11,wk63,50.0
19833,2000,Lonestar,Amazed,4:25,1999-06-05,wk63,45.0
20033,2000,Creed,Higher,5:16,1999-09-11,wk64,50.0
20150,2000,Lonestar,Amazed,4:25,1999-06-05,wk64,50.0
20350,2000,Creed,Higher,5:16,1999-09-11,wk65,49.0

In [3]:
df = df.reset_index()
df

,index,year,artist,track,time,date.entered,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...,...
5302,19716,2000,Creed,Higher,5:16,1999-09-11,wk63,50.0
5303,19833,2000,Lonestar,Amazed,4:25,1999-06-05,wk63,45.0
5304,20033,2000,Creed,Higher,5:16,1999-09-11,wk64,50.0
5305,20150,2000,Lonestar,Amazed,4:25,1999-06-05,wk64,50.0
5306,20350,2000,Creed,Higher,5:16,1999-09-11,wk65,49.0

In [4]:
da = []
for i in range(0,5307):
    j = df['week'][i][2:]
    da.append(j)
da

['1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 ...]

In [5]:
df['week'] = da
df

,index,year,artist,track,time,date.entered,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,1,91.0
2,2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,1,81.0
3,3,2000,3 Doors Down,Loser,4:24,2000-10-21,1,76.0
4,4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,1,57.0
...,...,...,...,...,...,...,...,...
5302,19716,2000,Creed,Higher,5:16,1999-09-11,63,50.0
5303,19833,2000,Lonestar,Amazed,4:25,1999-06-05,63,45.0
5304,20033,2000,Creed,Higher,5:16,1999-09-11,64,50.0
5305,20150,2000,Lonestar,Amazed,4:25,1999-06-05,64,50.0
5306,20350,2000,Creed,Higher,5:16,1999-09-11,65,49.0

In [6]:
df.sample(50)

,index,year,artist,track,time,date.entered,week,rank
3724,4462,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,15,8.0
3497,4112,2000,"Williams, Robbie",Angels,3:56,1999-11-20,13,81.0
5024,8283,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,2000-03-18,27,14.0
1495,1549,2000,Sugar Ray,Falls Apart,4:15,2000-01-15,5,34.0
1865,1969,2000,DMX,Party Up (Up In Here...,3:45,2000-02-26,7,38.0
4651,6165,2000,Janet,Doesn't Really Matte...,4:17,2000-06-17,20,20.0
4188,5263,2000,Madonna,Music,3:45,2000-08-12,17,11.0
3060,3471,2000,Vertical Horizon,You're A God,3:45,2000-08-26,11,23.0
3106,3539,2000,"Carey, Mariah",Thank God I Found Yo...,4:14,1999-12-11,12,2.0
2313,2506,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,8,52.0
5045,8542,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,27,2.0
2088,2233,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,8,29.0
3466,4063,2000,Shyne,Bad Boyz,4:22,2000-09-09,13,88.0
4175,5232,2000,Kid Rock,Only God Knows Why,5:27,2000-02-19,17,52.0
1066,1091,2000,Jagged Edge,He Can't Love U,3:30,1999-12-11,4,17.0
5035,8395,2000,"Jordan, Montell",Get It On.. Tonite,4:34,1999-10-23,27,10.0
2716,3010,2000,"Keith, Toby",How Do You Like Me N...,3:29,2000-01-29,10,32.0
5051,8581,2000,BBMak,Back Here,3:35,2000-04-29,28,37.0
5197,11731,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,38,9.0
1691,1770,2000,Lucy Pearl,Dance Tonight,3:45,2000-05-20,6,49.0
628,633,2000,matchbox twenty,Bent,4:12,2000-04-29,2,37.0
1734,1817,2000,Pearl Jam,Nothing As It Seems,5:20,2000-05-13,6,91.0
2348,2550,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,9,27.0
1958,2079,2000,Limp Bizkit,Re-Arranged,4:08,1999-12-04,7,96.0
1333,1376,2000,"Gill, Vince",Feels Like Love,4:13,2000-09-02,5,73.0
4594,6039,2000,Amber,Sexual,4:38,1999-07-17,20,88.0
4140,5165,2000,Eminem,The Real Slim Shady,4:42,2000-05-06,17,83.0
3113,3549,2000,Creed,Higher,5:16,1999-09-11,12,57.0
4710,6291,2000,Son By Four,A Puro Dolor (Purest...,3:30,2000-04-08,20,26.0
4316,5492,2000,Filter,Take A Picture,4:23,1999-11-27,18,24.0
2410,2628,2000,Eminem,Stan,5:26,2000-11-04,9,55.0
2103,2251,2000,Big Punisher,It's So Hard,3:25,2000-04-22,8,76.0
2310,2500,2000,Sugar Ray,Falls Apart,4:15,2000-01-15,8,32.0
1913,2025,2000,Hoku,Another Dumb Blonde,3:47,2000-02-19,7,30.0
2153,2311,2000,Eminem,Stan,5:26,2000-11-04,8,57.0
1003,1022,2000,Da Brat,What'Chu Like,3:57,2000-06-03,4,54.0
3151,3600,2000,"Gray, Macy",I Try,3:52,2000-02-19,12,7.0
4848,6957,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,22,3.0
2064,2203,2000,Vertical Horizon,You're A God,3:45,2000-08-26,7,30.0
2331,2528,2000,"Wills, Mark",Back At One,4:00,2000-01-15,8,39.0
456,460,2000,Jay-Z,Anything,3:41,2000-02-26,2,58.0
2383,2597,2000,Counting Crows,Hanginaround,4:07,1999-11-06,9,35.0
2853,3194,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,11,7.0
148,148,2000,"Jean, Wyclef",911,4:00,2000-10-07,1,77.0
2510,2751,2000,Mya,Case Of The Ex (What...,3:50,2000-08-19,9,17.0
3993,4910,2000,Kandi,Don't Think I'm Not,3:50,2000-08-05,16,31.0
513,518,2000,"McGraw, Tim",My Best Friend,4:33,1999-11-27,2,76.0
2045,2180,2000,"Stone, Angie",No More Rain (In Thi...,4:42,1999-12-25,7,56.0
2333,2530,2000,"Wright, Chely",It Was,3:51,2000-03-04,8,75.0
4969,7842,2000,Pink,There U Go,3:23,2000-03-04,25,20.0

In [7]:
import datetime

da = []
for i in range(0,5307):
    j = df['date.entered'][i]
    w = int(df['week'][i])
    w = (w -1) * 7
    t = datetime.datetime.strptime(j, "%Y-%m-%d")
    t = t + datetime.timedelta(days=w)
    t = t.strftime('%Y-%m-%d')
    da.append(t)
da

['2000-02-26',
 '2000-09-02',
 '2000-04-08',
 '2000-10-21',
 '2000-04-15',
 '2000-08-19',
 '2000-07-08',
 '2000-01-29',
 '2000-03-18',
 '2000-08-26',
 '2000-04-29',
 '2000-08-05',
 '2000-04-15',
 '1999-11-27',
 '2000-04-08',
 '2000-01-22',
 '1999-07-17',
 '2000-04-01',
 '2000-09-16',
 '2000-02-26',
 '2000-11-04',
 '2000-04-29',
 '2000-04-29',
 '2000-10-14',
 '2000-01-01',
 '2000-05-27',
 '2000-08-19',
 '2000-07-22',
 '2000-09-09',
 '2000-10-21',
 '2000-05-20',
 '2000-01-29',
 '2000-04-22',
 '2000-03-04',
 '2000-02-19',
 '1999-10-23',
 '1999-11-13',
 '2000-04-15',
 '1999-12-04',
 '2000-03-18',
 '2000-08-12',
 '2000-03-18',
 '2000-07-29',
 '2000-12-02',
 '2000-01-01',
 '2000-04-08',
 '2000-06-10',
 '2000-02-19',
 '2000-01-29',
 '2000-10-21',
 '2000-10-14',
 '2000-06-24',
 '1999-12-11',
 '2000-08-26',
 '2000-06-24',
 '2000-09-30',
 '2000-10-21',
 '2000-04-01',
 '2000-11-18',
 '2000-12-16',
 '2000-08-05',
 '1999-11-06',
 '1999-09-11',
 '2000-05-13',
 '2000-09-23',
 '1999-12-11',
 '2000-01-22',
 '2000-02-26',
 '2000-07-01',
 '2000-01-15',
 '2000-02-26',
 '2000-06-03',
 '2000-03-25',
 '2000-12-23',
 '2000-09-23',
 '2000-05-13',
 '1999-12-25',
 '2000-08-12',
 '2000-01-01',
 '1999-11-13',
 '2000-06-24',
 '1999-11-27',
 '2000-03-18',
 '2000-10-07',
 '2000-01-22',
 '2000-05-27',
 '2000-02-12',
 '2000-09-30',
 '2000-01-08',
 '2000-07-01',
 '1999-12-11',
 '1999-11-27',
 '2000-11-04',
 '2000-05-06',
 '2000-08-26',
 '2000-06-17',
 '2000-06-10',
 '2000-10-21',
 '2000-07-15',
 '2000-01-08',
 '2000-07-08',
 '2000-06-10',
 '1999-11-13',
 '1999-11-27',
 '1999-10-16',
 '2000-10-28',
 '2000-11-11',
 '2000-08-05',
 '2000-09-02',
 '2000-06-17',
 '1999-12-11',
 '2000-01-08',
 '2000-04-22',
 '2000-02-19',
 '2000-03-11',
 '1999-12-18',
 '2000-04-22',
 '1999-11-27',
 '2000-04-29',
 '2000-06-24',
 '2000-03-18',
 '1999-11-06',
 '2000-08-12',
 '2000-02-19',
 '2000-03-25',
 '2000-02-19',
 '2000-06-17',
 '2000-02-19',
 '1999-09-04',
 '2000-06-17',
 '1999-10-09',
 '1999-12-04',
 '2000-06-10',
 '2000-04-01',
 '1999-12-04',
 '1999-12-25',
 '2000-09-16',
 '2000-06-24',
 '1999-11-13',
 '2000-11-04',
 '1999-12-11',
 '2000-05-06',
 '2000-06-17',
 '2000-02-26',
 '2000-04-22',
 '2000-01-15',
 '2000-08-12',
 '2000-10-28',
 '2000-10-07',
 '2000-01-01',
 '2000-08-05',
 '2000-04-22',
 '2000-04-22',
 '1999-10-23',
 '2000-02-05',
 '2000-08-05',
 '2000-08-05',
 '2000-01-29',
 '1999-12-04',
 '1999-12-25',
 '2000-02-19',
 '2000-03-25',
 '2000-03-04',
 '2000-04-15',
 '2000-08-05',
 '2000-08-12',
 '2000-03-04',
 '2000-01-29',
 '2000-08-19',
 '2000-03-18',
 '2000-08-19',
 '1999-12-04',
 '2000-11-25',
 '2000-07-15',
 '2000-08-12',
 '2000-07-29',
 '1999-12-04',
 '1999-12-04',
 '2000-11-11',
 '1999-06-05',
 '1999-12-18',
 '2000-06-10',
 '2000-02-19',
 '2000-09-16',
 '2000-03-18',
 '2000-05-20',
 '2000-09-30',
 '1999-11-20',
 '2000-04-01',
 '2000-07-08',
 '2000-02-19',
 '2000-08-12',
 '2000-03-11',
 '1999-11-20',
 '2000-10-07',
 '2000-03-25',
 '2000-11-18',
 '2000-02-05',
 '2000-09-09',
 '2000-05-13',
 '1999-10-30',
 '1999-11-27',
 '2000-10-21',
 '2000-05-13',
 '2000-02-26',
 '2000-01-29',
 '2000-06-24',
 '2000-05-13',
 '2000-02-12',
 '2000-03-04',
 '2000-09-09',
 '2000-10-28',
 '2000-06-17',
 '2000-09-09',
 '2000-10-14',
 '2000-08-19',
 '2000-04-15',
 '2000-08-12',
 '2000-01-29',
 '2000-05-06',
 '2000-09-30',
 '2000-03-25',
 '2000-04-29',
 '2000-05-27',
 '2000-05-06',
 '2000-12-02',
 '2000-07-01',
 '2000-06-03',
 '2000-11-25',
 '2000-05-13',
 '2000-10-14',
 '2000-07-29',
 '2000-05-13',
 '2000-08-12',
 '2000-03-04',
 '2000-07-15',
 '2000-05-13',
 '2000-09-23',
 '2000-09-16',
 '2000-02-12',
 '2000-01-22',
 '1999-12-25',
 '2000-05-06',
 '2000-03-18',
 '2000-07-29',
 '2000-02-12',
 '1999-10-16',
 '2000-09-09',
 '2000-05-27',
 '2000-03-11',
 '2000-07-01',
 '2000-01-29',
 '2000-02-12',
 '2000-04-08',
 '1999-10-23',
 '1999-12-25',
 '2000-07-15',
 '2000-02-05',
 '2000-11-11',
 '2000-09-09',
 '2000-07-01',
 '2000-04-01',
 '1999-11-20',
 '2000-06-24',
 '2000-01-29',
 '2000-07-15',
 '1999-10-30',
 '2000-02-12',
 '2000-04-08',
 '2000-01-22',
 '2000-07-08',
 '2000-01-29',
 '2000-08-12',
 '2000-04-22',
 '2000-03-04',
 '2000-06-10',
 '2000-05-13',
 '2000-07-08',
 '1999-12-25',
 '2000-08-26',
 '2000-01-29',
 '2000-01-15',
 '2000-02-12',
 '2000-03-25',
 '2000-09-16',
 '2000-09-02',
 '2000-01-22',
 '2000-11-25',
 '2000-03-25',
 '2000-09-23',
 '2000-08-26',
 '1999-10-09',
 '2000-05-20',
 '2000-09-09',
 '2000-08-19',
 '2000-12-30',
 '2000-07-15',
 '2000-11-04',
 '2000-03-04',
 '2000-09-30',
 '2000-01-22',
 '2000-08-26',
 '2000-04-15',
 '2000-12-02',
 '1999-12-04',
 '2000-04-15',
 '2000-10-28',
 '2000-04-01',
 '1999-11-20',
 '2000-01-15',
 '2000-06-17',
 '2000-03-04',
 '2000-04-29',
 '2000-04-01',
 '2000-03-18',
 '2000-09-02',
 '2000-04-29',
 '2000-03-04',
 '2000-09-09',
 '2000-04-15',
 '2000-10-28',
 '2000-04-22',
 '2000-08-26',
 '2000-07-15',
 '2000-02-05',
 '2000-03-25',
 '2000-09-02',
 '2000-05-06',
 '2000-08-12',
 '2000-04-22',
 '1999-12-04',
 '2000-04-15',
 '2000-01-29',
 '1999-07-24',
 '2000-09-23',
 '2000-03-04',
 '2000-11-11',
 '2000-05-06',
 '2000-05-06',
 '2000-10-21',
 '2000-01-08',
 '2000-06-03',
 '2000-08-26',
 '2000-07-29',
 '2000-09-16',
 '2000-10-28',
 '2000-05-27',
 '2000-02-05',
 '2000-04-29',
 '2000-03-11',
 '2000-02-26',
 '1999-10-30',
 '1999-11-20',
 '2000-04-22',
 '1999-12-11',
 '2000-03-25',
 '2000-08-19',
 '2000-03-25',
 '2000-08-05',
 '2000-12-09',
 '2000-01-08',
 '2000-04-15',
 '2000-06-17',
 '2000-02-26',
 '2000-02-05',
 '2000-10-28',
 '2000-10-21',
 '2000-07-01',
 '1999-12-18',
 '2000-09-02',
 '2000-07-01',
 '2000-10-07',
 '2000-10-28',
 '2000-04-08',
 '2000-11-25',
 '2000-12-23',
 '2000-08-12',
 '1999-11-13',
 '1999-09-18',
 '2000-05-20',
 '2000-09-30',
 '1999-12-18',
 '2000-01-29',
 '2000-03-04',
 '2000-07-08',
 '2000-01-22',
 '2000-03-04',
 '2000-06-10',
 '2000-04-01',
 '2000-12-30',
 '2000-09-30',
 '2000-05-20',
 '2000-01-01',
 '2000-08-19',
 '2000-01-08',
 '1999-11-20',
 '2000-07-01',
 '1999-12-04',
 '2000-03-25',
 '2000-10-14',
 '2000-01-29',
 '2000-06-03',
 '2000-02-19',
 '2000-10-07',
 '2000-01-15',
 '2000-07-08',
 '1999-12-18',
 '1999-12-04',
 '2000-11-11',
 '2000-05-13',
 '2000-09-02',
 '2000-06-24',
 '2000-10-28',
 '2000-07-22',
 '2000-01-15',
 '2000-07-15',
 '2000-06-17',
 '1999-11-20',
 '1999-12-04',
 '1999-10-23',
 '2000-11-18',
 '2000-09-09',
 '2000-06-24',
 '1999-12-18',
 '2000-01-15',
 '2000-04-29',
 '2000-02-26',
 '2000-03-18',
 '1999-12-25',
 '2000-04-29',
 '1999-12-04',
 '2000-05-06',
 '2000-07-01',
 '2000-03-25',
 '1999-11-13',
 '2000-08-19',
 '2000-02-26',
 '2000-04-01',
 '2000-02-26',
 '2000-06-24',
 '2000-02-26',
 '1999-09-11',
 '2000-06-24',
 '1999-10-16',
 '1999-12-11',
 '2000-06-17',
 '2000-04-08',
 '1999-12-11',
 '2000-01-01',
 '2000-09-23',
 '2000-07-01',
 '1999-11-20',
 '2000-11-11',
 '1999-12-18',
 '2000-05-13',
 '2000-06-24',
 '2000-03-04',
 '2000-04-29',
 '2000-01-22',
 '2000-08-19',
 '2000-11-04',
 '2000-10-14',
 '2000-01-08',
 '2000-08-12',
 '2000-04-29',
 '2000-04-29',
 '1999-10-30',
 '2000-02-12',
 '2000-08-12',
 '2000-08-12',
 '2000-02-05',
 '1999-12-11',
 '2000-01-01',
 '2000-02-26',
 '2000-04-01',
 '2000-03-11',
 '2000-04-22',
 '2000-08-12',
 '2000-08-19',
 '2000-03-11',
 '2000-02-05',
 '2000-08-26',
 '2000-03-25',
 '2000-08-26',
 '1999-12-11',
 '2000-12-02',
 '2000-07-22',
 '2000-08-19',
 '2000-08-05',
 '1999-12-11',
 '1999-12-11',
 '2000-11-18',
 '1999-06-12',
 '1999-12-25',
 '2000-06-17',
 '2000-02-26',
 '2000-09-23',
 '2000-03-25',
 '2000-05-27',
 '2000-10-07',
 '1999-11-27',
 '2000-04-08',
 '2000-07-15',
 '2000-02-26',
 '2000-08-19',
 '2000-03-18',
 '1999-11-27',
 '2000-10-14',
 '2000-04-01',
 '2000-02-12',
 '2000-09-16',
 '2000-05-20',
 '1999-11-06',
 '1999-12-04',
 '2000-10-28',
 '2000-05-20',
 '2000-03-04',
 '2000-02-05',
 '2000-07-01',
 '2000-05-20',
 '2000-02-19',
 '2000-03-11',
 '2000-09-16',
 '2000-11-04',
 '2000-06-24',
 '2000-09-16',
 '2000-10-21',
 '2000-08-26',
 '2000-04-22',
 '2000-08-19',
 '2000-02-05',
 '2000-05-13',
 '2000-10-07',
 '2000-04-01',
 '2000-05-06',
 '2000-06-03',
 '2000-05-13',
 '2000-12-09',
 '2000-07-08',
 '2000-06-10',
 '2000-12-02',
 '2000-05-20',
 '2000-10-21',
 '2000-08-05',
 '2000-05-20',
 '2000-08-19',
 '2000-03-11',
 '2000-07-22',
 '2000-05-20',
 '2000-09-30',
 '2000-09-23',
 '2000-02-19',
 '2000-01-29',
 '2000-01-01',
 '2000-05-13',
 '2000-03-25',
 '2000-08-05',
 '2000-02-19',
 '1999-10-23',
 '2000-09-16',
 '2000-06-03',
 '2000-03-18',
 '2000-07-08',
 '2000-02-05',
 '2000-02-19',
 '2000-04-15',
 '1999-10-30',
 '2000-01-01',
 '2000-07-22',
 '2000-02-12',
 '2000-11-18',
 '2000-09-16',
 '2000-07-08',
 '2000-04-08',
 '1999-11-27',
 '2000-07-01',
 '2000-02-05',
 '2000-07-22',
 '1999-11-06',
 '2000-02-19',
 '2000-04-15',
 '2000-01-29',
 '2000-07-15',
 '2000-02-05',
 '2000-08-19',
 '2000-04-29',
 '2000-03-11',
 '2000-06-17',
 '2000-05-20',
 '2000-07-15',
 '2000-01-01',
 '2000-09-02',
 '2000-02-05',
 '2000-01-22',
 '2000-02-19',
 '2000-04-01',
 '2000-09-23',
 '2000-09-09',
 '2000-01-29',
 '2000-12-02',
 '2000-04-01',
 '2000-09-30',
 '2000-09-02',
 '1999-10-16',
 '2000-05-27',
 '2000-09-16',
 '2000-08-26',
 '2001-01-06',
 '2000-07-22',
 '2000-11-11',
 '2000-03-11',
 '2000-10-07',
 '2000-01-29',
 '2000-09-02',
 '2000-04-22',
 '2000-12-09',
 '1999-12-11',
 '2000-04-22',
 '2000-11-04',
 '2000-04-08',
 '1999-11-27',
 '2000-01-22',
 '2000-06-24',
 '2000-03-11',
 '2000-05-06',
 '2000-04-08',
 '2000-03-25',
 '2000-09-09',
 '2000-05-06',
 '2000-03-11',
 '2000-09-16',
 '2000-04-22',
 '2000-11-04',
 '2000-04-29',
 '2000-09-02',
 '2000-07-22',
 '2000-02-12',
 '2000-04-01',
 '2000-09-09',
 '2000-05-13',
 '2000-08-19',
 '2000-04-29',
 '1999-12-11',
 '2000-04-22',
 '2000-02-05',
 '1999-07-31',
 '2000-09-30',
 '2000-03-11',
 '2000-11-18',
 '2000-05-13',
 '2000-05-13',
 '2000-10-28',
 '2000-01-15',
 '2000-06-10',
 '2000-09-02',
 '2000-08-05',
 '2000-09-23',
 '2000-11-04',
 '2000-06-03',
 '2000-02-12',
 '2000-05-06',
 '2000-03-18',
 '2000-03-04',
 '1999-11-06',
 '1999-11-27',
 '2000-04-29',
 '1999-12-18',
 '2000-04-01',
 '2000-08-26',
 '2000-04-01',
 '2000-08-12',
 '2000-12-16',
 '2000-01-15',
 '2000-04-22',
 '2000-06-24',
 '2000-03-04',
 '2000-02-12',
 '2000-11-04',
 '2000-10-28',
 '2000-07-08',
 '1999-12-25',
 '2000-09-09',
 '2000-07-08',
 '2000-10-14',
 '2000-11-04',
 '2000-04-15',
 '2000-12-02',
 '2000-12-30',
 '2000-08-19',
 '1999-11-20',
 '1999-09-25',
 '2000-05-27',
 '2000-10-07',
 '1999-12-25',
 '2000-02-05',
 '2000-03-11',
 '2000-07-15',
 '2000-01-29',
 '2000-03-11',
 '2000-06-17',
 '2000-04-08',
 '2001-01-06',
 '2000-10-07',
 '2000-05-27',
 '2000-01-08',
 '2000-08-26',
 '2000-01-15',
 '1999-11-27',
 '2000-07-08',
 '1999-12-11',
 '2000-04-01',
 '2000-10-21',
 '2000-02-05',
 '2000-06-10',
 '2000-02-26',
 '2000-10-14',
 '2000-01-22',
 '1999-12-25',
 '1999-12-11',
 '2000-11-18',
 '2000-05-20',
 '2000-09-09',
 '2000-07-01',
 '2000-11-04',
 '2000-07-29',
 '2000-01-22',
 '2000-07-22',
 '2000-06-24',
 '1999-11-27',
 '1999-12-11',
 '1999-10-30',
 '2000-11-25',
 '2000-09-16',
 '2000-07-01',
 '1999-12-25',
 '2000-01-22',
 '2000-05-06',
 '2000-03-04',
 '2000-03-25',
 '2000-01-01',
 '2000-05-06',
 '1999-12-11',
 '2000-05-13',
 '2000-07-08',
 '2000-04-01',
 '1999-11-20',
 '2000-08-26',
 '2000-03-04',
 '2000-04-08',
 '2000-03-04',
 '2000-07-01',
 '2000-03-04',
 '1999-09-18',
 '2000-07-01',
 '1999-10-23',
 '1999-12-18',
 '2000-06-24',
 '2000-04-15',
 '1999-12-18',
 '2000-01-08',
 '2000-09-30',
 '2000-07-08',
 '1999-11-27',
 '2000-11-18',
 '1999-12-25',
 '2000-05-20',
 '2000-07-01',
 '2000-03-11',
 '2000-05-06',
 '2000-01-29',
 '2000-08-26',
 '2000-11-11',
 '2000-10-21',
 '2000-01-15',
 '2000-08-19',
 '2000-05-06',
 '2000-05-06',
 '1999-11-06',
 '2000-02-19',
 '2000-08-19',
 '2000-08-19',
 '2000-02-12',
 '1999-12-18',
 '2000-01-08',
 '2000-03-04',
 '2000-04-08',
 '2000-03-18',
 '2000-04-29',
 '2000-08-19',
 '2000-03-18',
 '2000-02-12',
 '2000-09-02',
 '2000-04-01',
 '2000-09-02',
 '1999-12-18',
 '2000-12-09',
 '2000-07-29',
 '2000-08-26',
 '2000-08-12',
 '1999-12-18',
 '1999-12-18',
 '2000-11-25',
 '1999-06-19',
 '2000-01-01',
 '2000-06-24',
 '2000-03-04',
 '2000-09-30',
 '2000-04-01',
 '2000-06-03',
 '2000-10-14',
 '1999-12-04',
 '2000-04-15',
 '2000-07-22',
 '2000-03-04',
 '2000-08-26',
 '2000-03-25',
 '1999-12-04',
 '2000-10-21',
 '2000-04-08',
 '2000-02-19',
 '2000-09-23',
 '2000-05-27',
 '1999-11-13',
 '1999-12-11',
 '2000-11-04',
 '2000-05-27',
 '2000-03-11',
 '2000-02-12',
 '2000-07-08',
 '2000-05-27',
 '2000-02-26',
 '2000-03-18',
 '2000-09-23',
 '2000-11-11',
 '2000-07-01',
 '2000-09-23',
 '2000-10-28',
 '2000-09-02',
 '2000-04-29',
 '2000-08-26',
 '2000-02-12',
 '2000-05-20',
 '2000-10-14',
 '2000-04-08',
 '2000-05-13',
 '2000-06-10',
 '2000-05-20',
 '2000-12-16',
 '2000-07-15',
 '2000-06-17',
 '2000-12-09',
 '2000-05-27',
 '2000-10-28',
 '2000-08-12',
 '2000-05-27',
 '2000-08-26',
 '2000-03-18',
 '2000-07-29',
 '2000-05-27',
 '2000-10-07',
 '2000-09-30',
 '2000-02-26',
 '2000-02-05',
 '2000-01-08',
 '2000-05-20',
 '2000-04-01',
 '2000-08-12',
 '2000-02-26',
 '1999-10-30',
 '2000-09-23',
 '2000-06-10',
 '2000-03-25',
 '2000-07-15',
 '2000-02-12',
 '2000-02-26',
 '2000-04-22',
 '1999-11-06',
 '2000-07-29',
 '2000-02-19',
 '2000-11-25',
 '2000-09-23',
 '2000-07-15',
 '2000-04-15',
 '1999-12-04',
 '2000-07-08',
 '2000-02-12',
 '2000-07-29',
 '1999-11-13',
 '2000-02-26',
 '2000-04-22',
 '2000-02-05',
 '2000-07-22',
 '2000-02-12',
 '2000-08-26',
 '2000-05-06',
 '2000-03-18',
 '2000-06-24',
 '2000-05-27',
 '2000-07-22',
 '2000-01-08',
 '2000-09-09',
 '2000-02-12',
 '2000-01-29',
 '2000-02-26',
 '2000-04-08',
 '2000-09-30',
 '2000-09-16',
 '2000-02-05',
 '2000-12-09',
 '2000-04-08',
 '2000-10-07',
 '2000-09-09',
 '1999-10-23',
 '2000-06-03',
 '2000-09-23',
 '2000-09-02',
 '2000-07-29',
 '2000-11-18',
 '2000-03-18',
 '2000-10-14',
 '2000-02-05',
 '2000-09-09',
 '2000-04-29',
 '2000-12-16',
 '1999-12-18',
 '2000-04-29',
 '2000-11-11',
 '2000-04-15',
 '1999-12-04',
 '2000-01-29',
 '2000-07-01',
 '2000-03-18',
 '2000-05-13',
 '2000-04-15',
 '2000-04-01',
 '2000-05-13',
 '2000-03-18',
 '2000-04-29',
 '2000-11-11',
 '2000-05-06',
 '2000-09-09',
 '2000-07-29',
 '2000-02-19',
 '2000-04-08',
 '2000-09-16',
 '2000-05-20',
 '2000-08-26',
 '2000-05-06',
 '1999-12-18',
 '2000-04-29',
 '2000-02-12',
 '1999-08-07',
 '2000-04-22',
 '2000-10-07',
 '2000-03-18',
 '2000-11-25',
 '2000-05-20',
 '2000-05-20',
 '2000-11-04',
 '2000-01-22',
 '2000-06-17',
 '2000-09-09',
 '2000-08-12',
 '2000-09-30',
 '2000-11-11',
 '2000-06-10',
 '2000-05-13',
 '2000-03-25',
 '2000-03-11',
 '1999-11-13',
 '1999-12-04',
 '2000-05-06',
 '1999-12-25',
 '2000-04-08',
 '2000-09-02',
 '2000-04-08',
 '2000-08-19',
 '2000-04-29',
 '2000-07-01',
 '2000-03-11',
 '2000-02-19',
 '2000-11-11',
 '2000-11-04',
 '2000-07-15',
 '2000-01-01',
 '2000-09-16',
 '2000-07-15',
 '2000-10-21',
 '2000-11-11',
 '2000-04-22',
 '2000-12-09',
 '2001-01-06',
 '2000-08-26',
 '1999-11-27',
 '1999-10-02',
 '2000-06-03',
 '2000-10-14',
 '2000-01-01',
 '2000-02-12',
 '2000-03-18',
 ...]

In [8]:
da[393]

'2000-08-19'

In [9]:
df['date.entered'] = da
df = df.rename(columns={'date.entered': 'date'})
df

,index,year,artist,track,time,date,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,1,91.0
2,2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,1,81.0
3,3,2000,3 Doors Down,Loser,4:24,2000-10-21,1,76.0
4,4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,1,57.0
...,...,...,...,...,...,...,...,...
5302,19716,2000,Creed,Higher,5:16,2000-11-18,63,50.0
5303,19833,2000,Lonestar,Amazed,4:25,2000-08-12,63,45.0
5304,20033,2000,Creed,Higher,5:16,2000-11-25,64,50.0
5305,20150,2000,Lonestar,Amazed,4:25,2000-08-19,64,50.0
5306,20350,2000,Creed,Higher,5:16,2000-12-02,65,49.0

In [10]:
df['date'][393]

'2000-08-19'

In [11]:
df = df.sort_values(by=['artist','date'])
df = df.reset_index()
df = df.rename(columns={'index': 'id'})
del df['level_0']
df

,id,year,artist,track,time,date,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,317,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-04,2,82.0
2,634,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-11,3,72.0
3,951,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-18,4,77.0
4,1268,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-25,5,87.0
...,...,...,...,...,...,...,...,...
5302,11094,2000,matchbox twenty,Bent,4:12,2000-12-23,35,33.0
5303,11411,2000,matchbox twenty,Bent,4:12,2000-12-30,36,37.0
5304,11728,2000,matchbox twenty,Bent,4:12,2001-01-06,37,38.0
5305,12045,2000,matchbox twenty,Bent,4:12,2001-01-13,38,38.0
5306,12362,2000,matchbox twenty,Bent,4:12,2001-01-20,39,48.0

In [12]:
df.head(50)

,id,year,artist,track,time,date,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,317,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-04,2,82.0
2,634,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-11,3,72.0
3,951,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-18,4,77.0
4,1268,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-25,5,87.0
5,1585,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-04-01,6,94.0
6,1902,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-04-08,7,99.0
7,1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,1,91.0
8,318,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-09,2,87.0
9,635,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-16,3,92.0
10,2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,1,81.0
11,319,2000,3 Doors Down,Kryptonite,3:53,2000-04-15,2,70.0
12,636,2000,3 Doors Down,Kryptonite,3:53,2000-04-22,3,68.0
13,953,2000,3 Doors Down,Kryptonite,3:53,2000-04-29,4,67.0
14,1270,2000,3 Doors Down,Kryptonite,3:53,2000-05-06,5,66.0
15,1587,2000,3 Doors Down,Kryptonite,3:53,2000-05-13,6,57.0
16,1904,2000,3 Doors Down,Kryptonite,3:53,2000-05-20,7,54.0
17,2221,2000,3 Doors Down,Kryptonite,3:53,2000-05-27,8,53.0
18,2538,2000,3 Doors Down,Kryptonite,3:53,2000-06-03,9,51.0
19,2855,2000,3 Doors Down,Kryptonite,3:53,2000-06-10,10,51.0
20,3172,2000,3 Doors Down,Kryptonite,3:53,2000-06-17,11,51.0
21,3489,2000,3 Doors Down,Kryptonite,3:53,2000-06-24,12,51.0
22,3806,2000,3 Doors Down,Kryptonite,3:53,2000-07-01,13,47.0
23,4123,2000,3 Doors Down,Kryptonite,3:53,2000-07-08,14,44.0
24,4440,2000,3 Doors Down,Kryptonite,3:53,2000-07-15,15,38.0
25,4757,2000,3 Doors Down,Kryptonite,3:53,2000-07-22,16,28.0
26,5074,2000,3 Doors Down,Kryptonite,3:53,2000-07-29,17,22.0
27,5391,2000,3 Doors Down,Kryptonite,3:53,2000-08-05,18,18.0
28,5708,2000,3 Doors Down,Kryptonite,3:53,2000-08-12,19,18.0
29,6025,2000,3 Doors Down,Kryptonite,3:53,2000-08-19,20,14.0
30,6342,2000,3 Doors Down,Kryptonite,3:53,2000-08-26,21,12.0
31,6659,2000,3 Doors Down,Kryptonite,3:53,2000-09-02,22,7.0
32,6976,2000,3 Doors Down,Kryptonite,3:53,2000-09-09,23,6.0
33,7293,2000,3 Doors Down,Kryptonite,3:53,2000-09-16,24,6.0
34,7610,2000,3 Doors Down,Kryptonite,3:53,2000-09-23,25,6.0
35,7927,2000,3 Doors Down,Kryptonite,3:53,2000-09-30,26,5.0
36,8244,2000,3 Doors Down,Kryptonite,3:53,2000-10-07,27,5.0
37,8561,2000,3 Doors Down,Kryptonite,3:53,2000-10-14,28,4.0
38,3,2000,3 Doors Down,Loser,4:24,2000-10-21,1,76.0
39,8878,2000,3 Doors Down,Kryptonite,3:53,2000-10-21,29,4.0
40,320,2000,3 Doors Down,Loser,4:24,2000-10-28,2,76.0
41,9195,2000,3 Doors Down,Kryptonite,3:53,2000-10-28,30,4.0
42,637,2000,3 Doors Down,Loser,4:24,2000-11-04,3,72.0
43,9512,2000,3 Doors Down,Kryptonite,3:53,2000-11-04,31,4.0
44,954,2000,3 Doors Down,Loser,4:24,2000-11-11,4,69.0
45,9829,2000,3 Doors Down,Kryptonite,3:53,2000-11-11,32,3.0
46,1271,2000,3 Doors Down,Loser,4:24,2000-11-18,5,67.0
47,10146,2000,3 Doors Down,Kryptonite,3:53,2000-11-18,33,3.0
48,1588,2000,3 Doors Down,Loser,4:24,2000-11-25,6,65.0
49,10463,2000,3 Doors Down,Kryptonite,3:53,2000-11-25,34,3.0

In [14]:
df.to_excel(r'billboard_.xlsx')
df['date']= pd.to_datetime(df['date'])

In [15]:
df_s = df.copy()
df_s

,id,year,artist,track,time,date,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,317,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-04,2,82.0
2,634,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-11,3,72.0
3,951,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-18,4,77.0
4,1268,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-25,5,87.0
...,...,...,...,...,...,...,...,...
5302,11094,2000,matchbox twenty,Bent,4:12,2000-12-23,35,33.0
5303,11411,2000,matchbox twenty,Bent,4:12,2000-12-30,36,37.0
5304,11728,2000,matchbox twenty,Bent,4:12,2001-01-06,37,38.0
5305,12045,2000,matchbox twenty,Bent,4:12,2001-01-13,38,38.0
5306,12362,2000,matchbox twenty,Bent,4:12,2001-01-20,39,48.0

In [16]:
del df_s['year']
del df_s['date']
del df_s['week']
del df_s['rank']
df_s

         id           artist                    track  time
0         0            2 Pac  Baby Don't Cry (Keep...  4:22
1       317            2 Pac  Baby Don't Cry (Keep...  4:22
2       634            2 Pac  Baby Don't Cry (Keep...  4:22
3       951            2 Pac  Baby Don't Cry (Keep...  4:22
4      1268            2 Pac  Baby Don't Cry (Keep...  4:22
...     ...              ...                      ...   ...
5302  11094  matchbox twenty                     Bent  4:12
5303  11411  matchbox twenty                     Bent  4:12
5304  11728  matchbox twenty                     Bent  4:12
5305  12045  matchbox twenty                     Bent  4:12
5306  12362  matchbox twenty                     Bent  4:12

[5307 rows x 4 columns]

In [17]:
df_d = df.copy()
df_d

,id,year,artist,track,time,date,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,317,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-04,2,82.0
2,634,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-11,3,72.0
3,951,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-18,4,77.0
4,1268,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-25,5,87.0
...,...,...,...,...,...,...,...,...
5302,11094,2000,matchbox twenty,Bent,4:12,2000-12-23,35,33.0
5303,11411,2000,matchbox twenty,Bent,4:12,2000-12-30,36,37.0
5304,11728,2000,matchbox twenty,Bent,4:12,2001-01-06,37,38.0
5305,12045,2000,matchbox twenty,Bent,4:12,2001-01-13,38,38.0
5306,12362,2000,matchbox twenty,Bent,4:12,2001-01-20,39,48.0

In [18]:
del df_d['year']
del df_d['artist']
del df_d['track']
del df_d['time']
del df_d['week']

df

,id,year,artist,track,time,date,week,rank
0,0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,1,87.0
1,317,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-04,2,82.0
2,634,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-11,3,72.0
3,951,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-18,4,77.0
4,1268,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-03-25,5,87.0
...,...,...,...,...,...,...,...,...
5302,11094,2000,matchbox twenty,Bent,4:12,2000-12-23,35,33.0
5303,11411,2000,matchbox twenty,Bent,4:12,2000-12-30,36,37.0
5304,11728,2000,matchbox twenty,Bent,4:12,2001-01-06,37,38.0
5305,12045,2000,matchbox twenty,Bent,4:12,2001-01-13,38,38.0
5306,12362,2000,matchbox twenty,Bent,4:12,2001-01-20,39,48.0

In [19]:
df_s

         id           artist                    track  time
0         0            2 Pac  Baby Don't Cry (Keep...  4:22
1       317            2 Pac  Baby Don't Cry (Keep...  4:22
2       634            2 Pac  Baby Don't Cry (Keep...  4:22
3       951            2 Pac  Baby Don't Cry (Keep...  4:22
4      1268            2 Pac  Baby Don't Cry (Keep...  4:22
...     ...              ...                      ...   ...
5302  11094  matchbox twenty                     Bent  4:12
5303  11411  matchbox twenty                     Bent  4:12
5304  11728  matchbox twenty                     Bent  4:12
5305  12045  matchbox twenty                     Bent  4:12
5306  12362  matchbox twenty                     Bent  4:12

[5307 rows x 4 columns]

In [20]:
df_d

         id       date  rank
0         0 2000-02-26  87.0
1       317 2000-03-04  82.0
2       634 2000-03-11  72.0
3       951 2000-03-18  77.0
4      1268 2000-03-25  87.0
...     ...        ...   ...
5302  11094 2000-12-23  33.0
5303  11411 2000-12-30  37.0
5304  11728 2001-01-06  38.0
5305  12045 2001-01-13  38.0
5306  12362 2001-01-20  48.0

[5307 rows x 3 columns]

In [21]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp